@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

nav {
  height: 80px;
}

label {
  min-width: 150px;
  text-align: right;
  padding-right: 1em;
}

input {
  float: left;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: calc(100vh - 80px - 60px);
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  background: gray;
  height: 60px;
  padding: 1em;
}

img {
  object-fit: cover;
}

/* ------------ LAYOUT --------------- */

.flexline {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.flexblock {
  display: flex;
  flex-wrap: wrap;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexcenter {
  align-items: space-around;
}
.flexaligncenter {
  align-items: center;
}
.flexspaceeven {
  justify-content: space-evenly;
}
.flexjustifycenter {
  justify-content: center;
}
.flexjustifyright {
  justify-content: right;
}
.flexjustifyleft {
  justify-content: left;
}
.flexwrap {
  flex-wrap: wrap;
}
.flexnowrap {
  flex-wrap: nowrap;
}

/* ------------ MARGINS */
.m_1em {
  margin: 1em;
}

.mxsl {
  margin-left: 0.5em;
}
.mxst {
  margin-top: 0.5em;
}
.mlt {
  margin-top: 2em;
}
/* ------------- STYLING --------------- */
.b_dot_black {
  border: black;
  border-style: dotted;
}

.list_nodecor {
  list-style-type: none;
}

.pointsDisplay {
  color: white;
}
.pointsDisplay:hover {
  background-color: dimgrey;
}

.nav-tabs .nav-item > .active {
  background-color: cadetblue;
  color: white;
}
/* --------------------------------------*/
.centre {
  text-align: center;
}

.btn-wrap {
  display: flex;
  justify-content: space-evenly;
}

.box-ajout-retrait {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.box-ajout-photo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.photo_placeholder_form {
  min-width: 300px;
  max-width: 500px;
}

.box-ajout-retrait div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article_card {
  display: flex;
  flex: 1 1 45%;
  background-color: wheat;
  padding: 0.2em;
  border-radius: 5%;
  border: 1px line black;
}

.grid_list {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* -------------------- */

.article_card img {
  max-width: 200px;
  padding: 1em;
}

.article_card h1 {
  font-size: 1.2em;
  color: steelblue;
}

.article_card .flexcol {
  font-size: 0.9em;
}

.grid_list :nth-child(n) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.grid_list :nth-child(odd) {
  margin-right: 0.5em;
}
.grid_list :nth-child(even) {
  margin-left: 0.5em;
}
.grid_list :nth-child(-n + 2) {
  margin-top: 0.5em;
}

.sale_details {
  display: grid;
  grid-template-columns: 66% 34%;
}

.images_banner {
  max-height: 40vh;
  background-color: antiquewhite;
}
.images_banner img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.bid_widget {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#bidAmount {
  max-width: 100px;
}
/* -------------------- */
#ajoutArticle {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  flex-direction: column;
}

#ajoutArticle div {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -------------------- MEDIA QUERIES ---------------- */
@media (max-width: 930px) {
  .grid_list {
    grid-template-columns: 100%;
  }
  .grid_list :nth-child(n) {
    margin: 0.5rem;
  }
  .article_card {
    flex: 1 1 80%;
  }

  .article_card .flexcol {
    font-size: 1em;
  }

  .sale_details {
    display: flex;
    grid-template-columns: 100%;
  }
}

@media (max-width: 768px) {
  .nav-item {
    background-color: #343a40;
    text-align: center;
    font-size: 1.5em;
  }

  .alert {
    z-index: -1;
  }

  .nav-item:hover {
    background-color: dimgray;
    color: black;
  }
  .flexline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  * {
    min-width: 0px;
    min-height: 0px;
  }

  h1 {
    font-size: x-large;
    font-weight: bold;
  }
  h2 {
    font-size: larger;
    font-weight: bold;
  }
}
