version: "3.0"

services:
  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - 1234:8080

  php:
    build: php-fpm
    ports:
      - "9002:9000"
    volumes:
      - ../:/var/www/symfony:cached
      - ./logs/symfony:/var/www/symfony/var/logs:cached

  nginx:
    build: nginx
    ports:
      - "8080:80"
    volumes_from:
      - php
    volumes:
      - ./logs/ngix/:/var/log/nginx:cached
